 .mark-bold {
    font-family: 'MarkPro-Bold',"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  }

.mark-light {
  font-family: 'MarkPro-Light',"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.text-purple {
    color: #1d1752;
}
.bg-purple {
    background-color: #1d1752;
}



